@media screen and (min-width: 1001px) {
    img{
        height: 180px;
        width: 220px;
    }
    body{
        background-color: pink;
    }
}

@media screen and (max-width: 1000px) and (min-width: 601px){
    img{
        height: 140px;
        width: 180px;
    }
    body {
        background-color: rgb(227, 175, 255);
    }
}

@media screen and (max-width: 600px){
    img{
        height: 100px;
        width: 130px;
    }
    body {
        background-color: rgb(255, 175, 227);
    }
}