.nome1{
    height: 600px;
    width: 800px;
    background-color: aquamarine; 
    

}

.nome2{
    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nome3{
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.nome4{
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.nome5{
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
}
